.container {
  display: flex;
  flex-direction: column;
  .title {
    margin: 20px 0 5px 81px;
  }
  .body {
    display: grid;
    grid-template-columns: 100px auto;
    margin: 0 25px;
    img {
      width: 80px;
      height: 80px;
      align-self: center;
      justify-self: center;
    }
  }
}
