@import '../Variables.scss';

.IntroSlider {
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: $darckColor;
  margin: 0 25px;
  .leftArrow {
    position: absolute;
    top: 50%;
    right: -14px;
    cursor: pointer;
    user-select: none;
  }
  .RightArrow {
    position: absolute;
    top: 50%;
    left: -14px;
    cursor: pointer;
    user-select: none;
  }
}
