.cart {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  .img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .body {
    height: 30%;
    text-align: center;
    .h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      margin: 10px 0px;
    }
  }
  .footeer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div {
      padding: 14px;
      background-color: #ddffbc;
      border-radius: 10px;
      border-right: 1px solid black;
      cursor: pointer;
    }
  }
}
